//
// Grid system
// --------------------------------------------------

$directions: ('top','right','bottom','left');

@each $breakpoint in $breakpoints {
	@media (min-width: nth($breakpoint, 2)) {
		@each $direction in $directions {
			%margin-#{$direction} {
				margin-#{$direction}: nth($breakpoint, 4);
			}
			%margin-#{$direction}-negative {
				margin-#{$direction}: -1 * nth($breakpoint, 4);
			}
		}
	}
}

.columns {
	@include clearfix();
}

.inner {
	max-width: 280px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  box-sizing: border-box;
}

@each $breakpoint in $breakpoints {
	@media (min-width: nth($breakpoint, 2)) {
		.inner {
			max-width: nth($breakpoint, 3);
		}

		.col-#{nth($breakpoint, 1)}-1,
		.col-#{nth($breakpoint, 1)}-2,
		.col-#{nth($breakpoint, 1)}-3,
		.col-#{nth($breakpoint, 1)}-4,
		.col-#{nth($breakpoint, 1)}-5,
		.col-#{nth($breakpoint, 1)}-6,
		.col-#{nth($breakpoint, 1)}-7,
		.col-#{nth($breakpoint, 1)}-8,
		.col-#{nth($breakpoint, 1)}-9,
		.col-#{nth($breakpoint, 1)}-10,
		.col-#{nth($breakpoint, 1)}-11,
		.col-#{nth($breakpoint, 1)}-12 {
			padding-left:  #{clear_units(nth($breakpoint,4)) / 2}px;
			padding-right: #{clear_units(nth($breakpoint,4)) / 2}px;
		}

		.col-#{nth($breakpoint, 1)}-1,
		.col-#{nth($breakpoint, 1)}-2,
		.col-#{nth($breakpoint, 1)}-3,
		.col-#{nth($breakpoint, 1)}-4,
		.col-#{nth($breakpoint, 1)}-5,
		.col-#{nth($breakpoint, 1)}-6,
		.col-#{nth($breakpoint, 1)}-7,
		.col-#{nth($breakpoint, 1)}-8,
		.col-#{nth($breakpoint, 1)}-9,
		.col-#{nth($breakpoint, 1)}-10,
		.col-#{nth($breakpoint, 1)}-11 {
			float: left;
		}

		@for $i from 1 through $grid-columns {
			.col-#{nth($breakpoint, 1)}-#{$i} { width: percentage(($i / $grid-columns)); }
		}

		@for $i from 1 through $grid-columns - 1 {
			.col-#{nth($breakpoint, 1)}-push-#{$i} { left: percentage(($i / $grid-columns)); }
			.col-#{nth($breakpoint, 1)}-pull-#{$i} { right: percentage(($i / $grid-columns)); }
			.col-#{nth($breakpoint, 1)}-offset-#{$i} { margin-left: percentage(($i / $grid-columns)); }
		}

	}
}